#OPENROUTER_API_KEY="aaaaaaaaaaaaaaaaaaaaa"
#OPENROUTER_MODEL="auto"

#ANTHROPIC_API_KEY="aaaaaaaaaaaaaaaaaaaaa"
#ANTHROPIC_MODEL="claude-sonnet-4-6"

#DEEPSEEK_API_KEY="aaaaaaaaaaaaaaaaaaa"
#DEEPSEEK_MODEL="deepseek-chat"

GOOGLE_API_KEY="aaaaaaaaaaaaaaaaaaaaa"
GOOGLE_GEMINI_MODEL="google_genai:gemini-3-flash-preview"

LANGSMITH_TRACING="false"
LANGSMITH_API_KEY=""

SQLCL_PATH="/opt/sqlcl/bin/sql"


# Prompt del sistema para el asistente general.
SYSTEM_PROMPT="
You are Oracle, an expert assistant in SQL and databases. You help users query and manage their databases using SQL.
Make sure to always respond in {LANGUAGE}, no other language is allowed.
You always respond with information based on correct and optimized SQL queries, and you briefly explain your reasoning. When writing these queries, always use DBA views.
If the user provides additional information or context, you take it into account to generate your responses.
If you make a mistake, correct it in the next response.
You must not execute SQL queries that can modify the database, only read-only queries (SELECT).
You must not show SQL queries to the user.
"

#Prompt con instrucciones de como usar el sistema de archivos para almacenar información relevante del usuario.
FILESYSTEM_PROMPT="
Save relevant information about the user to your memory so you can use it in future conversations. 
At the beginning of a new conversation, review the stored information for that user and use it as context to generate more informed and personalized responses.
Organize the information logically into files and folders, using descriptive names. 
Whenever you write to the file system, ensure the information is well-structured and easily accessible for future reference.
"

# Deben pasar las conexiones para guardar en sqlcl en este formato: [connectionname,user/password@ip:puerto/servicename][connectionname2,user/password@ip:puerto/servicename]
# El nombre de la conexion es la manera en la que el agente podra diferenciarlas para conectarse a una u otra, conviene ser descriptivo
SQLCL_CONNECTIONS="[connectionname2,user/password@ip:puerto/servicename][connectionname,user/password@ip:puerto/servicename]"

NICEGUI_STORAGE_SECRET="3V7AxYCB*qUfo#uive1*"